.roro{
    /* background-color: black; */
    margin-top: 30px;
    width: 400px;
    border: 1px gray solid;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.roro h3{
    color: black;
}
.checkbox{
    height: 30px;
    width: 30px;
}
.miomio{
    display: flex;
    width: 600px;
}
.addtaskinput{
    margin-left: 10px;
}
.filtrage{
    display: flex;
}